body{
    font-family: 'Poppins', sans-serif;

}

.custom-fonts_eb{
    font-family: 'EB Garamond', serif;

}

.custom-py{
    padding-top:50px;
    padding-bottom: 50px;
}

.custom-chevron-right-arrow{
    margin-left:15px;
    transition: 500ms;
}

header ul :hover .custom-chevron-right-arrow{
    color: red;
    transform: rotate(0.5turn);
}

.custom-btn-primary{
    background-color: rgba(150, 9, 9, 0.719);
    color:#fff;
    transition: 500ms;
    border:2px solid rgba(150, 9, 9, 0.897);
    padding: 10px 25px;
}
    

.custom-btn-primary:hover{
    background-color: rgba(150, 9, 9, 0.897);
    border:2px solid #000;
    color:#000;
}

/* .custom-banner-text-position{
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 */

 .custome-banner-image{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 
.banner h1{
    font-size: 72px;
}

.common-title{
    font-weight:800;
    font-size:40px;
    color:#414040;
}
.common-caption{

}

.practice-box{
   
}
.practice-box:hover{
    background-image: linear-gradient(to top, rgba(243, 243, 243, 0), rgba(0, 0, 0, 0.1));
}


.practice-box h4{
    font-weight: 800;
    font-size:30px;
    color:#414040;
}
.practice-box img{}
.practice-box p{

}


/* Slider */

/* .carousel-content{
    background-image: url(../images/Rectangle-7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mix-blend-mode: darken;
}  */


.ab{
    transform: translate(-50% -50%)!important;
}

.carousel-item{
    height:50vh
}







/* Responsive fix */


@media (max-width: 576px) { 
    .banner h1 {
        font-size: 40px;
    }
    .common-title {
        font-size: 30px;
    }
    .practice-box{
        border:none !important;
        border-bottom:1px solid rgba(0,0,0,0.25) !important
    }
}